:root {
  /* Tokyo night Storm */
  --background-color: #24283b;
  --background-color-dark: #1a1b26;
  --comments-color: #565f89;
  --foreground-color: #c0caf5;
  --primary-color: #7aa2f7;
  --secondary-color: #bb9af7;
  --success-color: #9ece6a;
  --error-color: #f7768e;
  --warning-color: #ff9e64;
  --info-color: #7dcfff;

  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monospace-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;

  --border-radius: 0.5em;
}

body {
  margin: 0;
  padding: 1em;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--foreground-color);
  min-width: 320px;
}

.p5js-logo {
  width: min(200px, 50%);
  display: block;
  margin: 2em auto;
}

.p5js-text {
  color: var(--primary-color);
  font-family: var(--monospace-font-family);
}

.sub-title {
  text-align: center;
  color: var(--warning-color);
}

.description {
  padding: 20px;
  line-height: 1.6;
  font-size: larger;
}

.visit-p5js,
.visit-examples {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--comments-color);
  color: var(--foreground-color);
  text-align: center;
  text-decoration: none;
  width: min(200px, 50%);

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.visit-p5js:hover,
.visit-examples:hover,
.visit-p5js:active,
.visit-examples:active {
  background-color: var(--secondary-color);
  color: var(--background-color);
  transform: scale(1.05);
}

.carousel {
  position: relative;
  height: 300px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.items {
  display: flex;
  height: 100%;
}

.items img {
  height: 100%;
  width: auto;
  margin: 0 10px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

.wrapper a {
  text-decoration: none;
  color: var(--foreground-color);
}

.wrapper img {
  width: 100%;
  border-radius: var(--border-radius);
}

.wrapper p {
  text-align: center;
  font-size: large;
}

.example-title {
  text-align: center;
  color: var(--primary-color);
}

.example-desc {
  text-align: center;
}

#sketch-wrapper {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch-wrapper canvas {
  max-width: 95%;
}

.example-src-title {
  margin-bottom: 0;
  margin-top: 2em;
  margin-left: 1em;
}

.hljs {
  background: var(--background-color) !important;
  font-family: var(--monospace-font-family);
}

ul.list {
  list-style-type: none;
  padding: 0 2em;
}

ul.list li {
  margin-bottom: 10px;
}

ul.list li a {
  color: var(--info-color);
  text-decoration: none;
}

ul.list li a:hover {
  color: var(--secondary-color);
}

ul.list li a i {
  margin-right: 5px;
}

table.browser-support {
  width: 100%;
  border-collapse: collapse;
}

table.browser-support th,
table.browser-support td {
  border: 1px solid var(--foreground-color);
  padding: 8px;
  text-align: center;
}

table.browser-support th {
  background-color: var(--comments-color);
  color: var(--foreground-color);
}

table.browser-support tr:nth-child(even) {
  background-color: var(--background-color-dark);
}

table.browser-support tr:hover {
  background-color: var(--comments-color);
}

table.browser-support .fa-check {
  color: var(--success-color);
}

table.browser-support .fa-times {
  color: var(--error-color);
}

.table-responsive {
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  table.browser-support {
    width: 100%;
    display: block;
  }
}
